<footer class="d-flex justify-content-between align-items-center pt-3 border-top border-black px-3">
    <div class="flex-grow-1 text-center">
    <small class="text-uppercase">&copy; 2025 Oisac.com. All Rights Reserved.</small>
    </div>
    <div class="d-flex gap-2">
    <a href="#" class="text-black"><i class="fab fa-twitter"></i></a>
    <a href="#" class="text-black"><i class="fab fa-facebook-f"></i></a>
    <a href="#" class="text-black"><i class="fab fa-instagram"></i></a>
    <a href="#" class="text-black"><i class="fab fa-youtube"></i></a> 
    </div>
</footer>